.movie {
  display: flex;
  align-items: stretch;
}

.moviePage {
  padding: 0 25px;
}
.moviePageAdInfo {
  padding: 0 0 0 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(143, 143, 143);
  margin-top: 5px;
}

.movieBack {
  cursor: pointer;
  margin: 25px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-size: medium;
  padding: 1px 3px 1px 3px;
  background-color: rgb(213, 235, 255);
}

.movieInfo {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  max-width: 85px;
  margin: 5px;
  padding: 1px 2px 1px 2px;
  background-color: rgb(213, 235, 255);
}
