.movieButton {
  letter-spacing: 2px;
  min-height: 30px;
  min-width: 100px;
  cursor: pointer;
  margin: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  font-size: medium;
  padding: 1 px 3 px 1 px 3px;
  background-color: rgb(207, 207, 207);
}
.movieSearch {
  border: 1px solid rgb(104, 104, 104);
  outline: none;
  letter-spacing: 2px;
  min-height: 30px;
  margin: 15px;
  min-width: 200px;
}

.movieForm {
  justify-content: center;
  display: flex;
}
